@model UserViewModel

@{
    var userName = Model.UserName;
}

<div id="current-user" hidden>@userName</div>

<!-- client index page -->
<div class="d-flex flex-column justify-content-start" style="height:calc(100% - 50px);">

    <!-- client nav bar -->
    <partial name="/Views/Shared/_CustomerNavBarPartial.cshtml" model="@Model.UserName" />

    <div class="d-flex flex-column justify-items-between justify-content-end bg-light py-2">
        <div class="d-flex container justify-content-between">
            <div class="d-flex flex-row align-items-center gap-3">
                <p class="lead my-2">
                    MY <b>VISITS</b>
                </p>
            </div>
        </div>
    </div>

    <div id="chat" style="display:none">
        <partial name="_ChatPartial" style="position: absolute; right:0; bottom:0;" />
    </div>
    <div id="chat-btn" style="display:block">
        <partial name="_ChatTogglePartial" style="position: absolute; right:0; bottom:0" />
    </div>

    <div class="d-flex container flex-column scrollable-div gap-3 mt-4 pb-4" style="width:100%;height:100%;">

        <!-- These all elements are flowing out of the  -->
        @{
            if (Model.Visits != null && Model.Visits.Count > 0)
            {
                @foreach (var visit in Model.Visits)
                {
                    <a asp-controller="Visits" asp-action="DisplayVisit" asp-route-visitId="@visit.Id" style="text-decoration:none; color: inherit">
                        <partial name="Visits/_VisitElementPartial" model="@visit" />
                    </a>
                }
            }
            else
            {
                <div class="card p-3">
                    YOU DON'T HAVE ANY VISITS REGISTERED YET
                </div>
            }
        }

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chat.js"></script>

<script>

    let chatOpened = false;

    function filterWithStatus(status) {

        var url = '@Url.Action("ManageVisits", "Visits", new { area = "Employee", Status = "status" })';
        url = url.replace('status', status);
        window.location.href = url;
    }

    $(document).ready(function () {

        let chatButton = $('#chat-toggle-button').on('click', function () {
            console.log('chat button click');
            toggleChat();
        });

        let chatButtonClose = $('#chat-panel-close').on('click', function () {
            toggleChat();
        });

        var toggleChat = function () {
            chatOpened = !chatOpened;
            if (chatOpened) {
                $('#chat-btn').css('display', 'none');
                $('#chat').css('display', 'block');
            }
            else {
                $('#chat-btn').css('display', 'block');
                $('#chat').css('display', 'none');
            }
        }
    });

</script>