@model UserResetPasswordViewModel

<!-- customer index page -->
<div class="d-flex flex-column justify-content-start" style="height:100%;">

    <div class="d-flex flex-row m-auto gap-5 justify-content-center" style="width:60%; max-height:60%;">

        <div class="d-flex justify-content-start bg-light bg-opacity-50 border border-primary rounded-3 flex-column p-4 m-auto text-center" style="width:50%; height:100%;">

            <h4 class="opacity-50 p-2">
                RESET PASSWORD
            </h4>
            <form asp-controller="Auth" asp-action="OnResetPassword" class="d-flex flex-column m-0" method="post">
                <div class="d-flex flex-column justify-content-between p-2">
                    <div class="d-flex flex-column">
                        <label asp-for="@Model.UserName" class="form-label p-2 m-auto">User Name</label>
                        <input name="UserName" value="@Model.UserName" readonly type="text" class="form-control" aria-describedby="UserName">
                    </div>
                    <div class="d-flex flex-column">
                        @* <label asp-for="@Model.ResetToken" class="form-label p-2 m-auto">User Name</label> *@
                        <input name="ResetToken" value="@Model.ResetToken" readonly hidden type="text" class="form-control" style="height:0px;">
                    </div>
                    <div class="">
                        <label asp-for="@Model.NewPassword" class="form-label p-2 m-auto">New Password</label>
                        <input name="NewPassword" value="@Model.NewPassword" type="password" class="form-control" aria-describedby="NewPassword">
                        <span asp-validation-for="NewPassword" class="text-start"></span>
                    </div>
                    <div class="">
                        <label asp-for="@Model.ConfirmPassword" class="form-label p-2 m-auto">Confirm Password</label>
                        <input name="ConfirmPassword" value="@Model.ConfirmPassword" type="password" class="form-control" aria-describedby="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword" class="text-start"></span>
                    </div>

                    <duv class="d-flex mt-4">
                        <div class="p-2">
                            <a asp-area="" asp-controller="Auth" asp-action="OnResetPassword" type="button" class="btn btn-secondary">CANCEL</a>
                        </div>
                        <div class="p-2">
                            <button type="submit" class="btn btn-primary">UPDATE</button>
                        </div>
                    </duv>
                </div>
            </form>

        </div>
    </div>
</div>
