@model VisitViewModel

@{
    double totalPrice = Model.RepairActivities.Sum(x => x.Price);
}

<div class="d-flex flex-column bg-light bg-opacity-50 shadow mx-auto p-3">

    <div class="d-flex p-3 justify-content-between">
        <dv>
            @Model.VehicleBrand @Model.VehicleModel
        </dv>
        <div>
            @Model.DateCreated.ToShortDateString()
        </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <dv>
            Service type
        </dv>
        <div>
            Price
        </div>
    </div>

    <hr />

    <div class="d-flex flex-column justify-content-start mt-2">

        @{
            int iterator = 1;
            <div class="d-flex flex-column justify-content-start gap-2">
                @foreach (var item in Model.RepairActivities)
                {
                    <div class="d-flex justify-content-between flex-row">
                        <div class="d-flex flex-row gap-4 text-end">
                            <p style="min-width:20px;">@iterator.</p>
                            <p>@item.Name</p>
                        </div>
                        <p>@item.Price лв.</p>
                    </div>
                    iterator++;
                }
            </div>

            <hr />

            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row gap-4 text-end">
                    <p style="min-width:20px;"></p>
                    <p>Total Price</p>
                </div>
                <p>@totalPrice лв.</p>
            </div>
        }
    </div>
</div>
