@model VisitViewModel

@{
    double totalPrice = Model.RepairActivities.Sum(x => x.Price);
    double discount = 20.0; // Model.Discount;
    var status = Model.Status;
    var rating = Model.Rating;

    var statusColor = string.Empty;

    if (status == "Pending")
        statusColor = "bg-danger";
    else if (status == "Active")
        statusColor = "bg-primary";
    else if (status == "Completed")
        statusColor = "bg-success";
    else if (status == "Paid")
        statusColor = "bg-secondary";
}

<div class="d-flex justify-content-between flex-column bg-light bg-opacity-50 shadow p-3" style="height:96%">

    <div class="d-flex flex-column justify-content-start" style="height:100%;">

        <div class="d-flex flex-row p-2 justify-content-between">
            <div class="d-flex flex-column align-items-start gap-1">
                <div class="@statusColor rounded-pill text-light py-2 px-3 gap-4">
                    <b>
                        @status -
                    </b>
                    (@Model.VehicleYear) @Model.VehicleBrand @Model.VehicleModel
                </div>
                <div class="d-flex text-start col">
                </div>
                <div class="ms-3">
                    @Model.UserName
                </div>
                <div class="col-2 ms-3 text-end">
                    @Model.DateCreated.ToShortDateString()
                </div>
            </div>
            <div class="d-flex row me-0" style="max-width:200px;">
                @if (status == "Paid")
                {
                    <div class="d-flex flex-column flex-fill align-items-end">
                        <div class="d-flex flex-row justify-content-around btn-secondary rounded-pill mb-2 px-4 py-1 mx-0" style="width:100%;">
                            <select id="rating-dropdown" class="dropdown btn btn-secondary dropdown-toggle mx-1">
                                <option> 1 </option>
                                <option> 2 </option>
                                <option> 3 </option>
                                <option> 4 </option>
                                <option> 5 </option>
                            </select>
                            <img src="~/images/star-icon.png" id="rating-icon" style="width:36px; height:36px;" hidden />
                        </div>

                        <div class="d-flex gap-2 mx-auto">
                            <a asp-area="" asp-controller="Visits" asp-action="DownloadPdf" asp-route-visitId="@Model.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Download PDF"
                               class="d-flex flex-row flex-fill w-100 justify-content-center m-0 py-1 btn btn-info rounded flex-grow-0 justify-content-end">
                                @* Download *@
                                <img src="~/images/icon-download.png" style="max-width:24px; max-height:24px;"/>
                            </a>
                            <div class="d-flex flex-column align-items-end">
                                <select id="currency-toggle" class="d-flex flex-fill dropdown btn btn-secondary dropdown-toggle mx-0">
                                    <option> BGN </option>
                                    <option> USD </option>
                                    <option> EUR </option>
                                </select>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <hr />

        <div class="d-flex flex-column justify-content-start mt-2" style="overflow-y: hidden;">

            <!-- Repair Activities Container -->
            <div id="" class="d-flex flex-column justify-content-start my-auto px-3 py-3 gap-3 repair-activities-container" style="overflow-y: auto;">

                <!-- List Repair Activities -->
                @foreach (var repairActivity in Model.RepairActivities)
                {
                    var item = repairActivity;

                    <div id="" class="d-flex flex-row justify-content-between repair-activity-entry">
                        <div class="d-flex gap-4 text-end" style="width:80%">

                            <div class="d-flex align-self-center justify-content-center align-items-center bg-success text-light rounded-circle" style="width:14px; height:14px;"></div>

                            @* Repair Activities Type *@
                            <div id="" class="d-flex align-items-center repair-activity-id" style="min-width:20px;" data-id="@item.Id">@item.Name</div>
                        </div>

                        @* Repair Activities Price *@
                        <div class="d-flex bg-light pe-1 row rounded">
                            <input id="price-field" class="d-flex form-control me-3 repair-activity-price" type="number" readonly autocomplete="off" value="@item.Price" style="width:100px;" />
                            <div class="d-flex flex-row justify-content-center align-items-center pe-4" style="width:20px;"> лв.</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="d-flex flex-column justify-content-between">
        <div class="d-flex flex-column bg-secondary bg-opacity-50 rounded m-2 py-3 text-light">

            @{
                if (@discount != 0)
                {
                    <div class="d-flex flex-row mx-5">
                        <div class="d-flex col gap-4 text-end">
                            <label class="d-flex m-0">Discount</label>
                        </div>
                        <div class="d-flex flex-column flex-stretch me-3">
                            <p id="" class="badge bg-info px-4 py-2 row text-end">-@discount%</p>
                        </div>
                    </div>
                }
            }

            <div class="d-flex flex-row mx-5 align-items-center">
                <div class="d-flex col gap-4 text-end">
                    <b><label class="d-flex m-0">Total Price</label></b>
                </div>

                <div class="d-flex flex-row align-items-center gap-5 m-0 mx-3">
                    @{
                        if (@discount != 0)
                        {
                            <s id="total-price-original" class="row text-end">@totalPrice лв.</s>
                        }
                    }
                    <label id="total-price" class="row text-end align-items-center">@totalPrice лв.</label>

                    @* <div class="d-flex flex-column align-items-end">
                    <select id="currency-toggle" class="d-flex flex-fill dropdown btn btn-secondary dropdown-toggle mx-0">
                    <option> BGN </option>
                    <option> USD </option>
                    <option> EUR </option>
                    </select>
                    </div> *@

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

    $(document).ready(function () {

        let visitDate = @Html.Raw(Json.Serialize(Model.DateCreated.ToString("yyyy-MM-dd")));

        /**
         *  Rating
         */

        let initialRating = @Html.Raw(Json.Serialize(rating));

        let ratingDropdown = $('#rating-dropdown');

        console.log(initialRating);

        if (initialRating != '0') {
            ratingDropdown.val(initialRating);
            $('#rating-icon').removeAttr('hidden');
        }
        else {
            let notRatedOption = $('<option>', { text: 'Not Rated' });
            ratingDropdown.prepend(notRatedOption);
            ratingDropdown.val('Not Rated');
        }

        ratingDropdown.change(function () {

            let selectedRatingValue = $(this).val();

            if (selectedRatingValue != 'Not Rated') {

                let visitId = @Html.Raw(Json.Serialize(@Model.Id));
                var actionUrl = '/Visits/UpdateVisitRating?visitId=' + visitId + '&rating=' + selectedRatingValue;

                $.ajax({
                    url: actionUrl,
                    type: 'POST',
                    success: function () {
                        console.log('Rating updated to ', selectedRatingValue);
                        if (ratingDropdown.find('option:first').text() === 'Not Rated') {
                            ratingDropdown.find('option:first').remove();
                        }
                        $('#rating-icon').removeAttr('hidden');
                    },
                    error: function () {
                        console.log('Error updating rating to ', selectedRatingValue);
                    }
                });
            }
            else {
                $('#rating-icon').attr('hidden', 'hidden');
            }

        });

        /**
         *  Currency
         */

        // Parse discount value to js
        let discountValue = @Html.Raw(Json.Serialize(discount));

        let totalPrice = 0.0;
        let discount = (100.0 - discountValue) / 100;

        let currencySigns = {
            'USD': '$',
            'EUR': '€'
        }

        // Set initial total price
        calTotalPrice();

        function calTotalPrice() {
            totalPrice = 0;

            // Loop through all input fields with IDs starting with 'price-field-'
            $('[id^="price-field"]').each(function () {
                // Extract the numeric value from the input field
                let fieldValue = parseFloat($(this).val()) || 0;

                // Add the numeric value to the total price
                totalPrice += fieldValue;
            });

            if (discountValue) {
                $('#total-price-original').text(totalPrice.toFixed(2) + ' лв.');
                $('#total-price').text((totalPrice * discount).toFixed(2) + ' лв.')
            }
            else {
                $('#total-price').text(totalPrice.toFixed(2) + ' лв.');
            }
        }

        $('#currency-toggle').change(function () {

            let selectedCurrency = $(this).val();

            //
            let date = visitDate;
            let baseCurrency = "BGN";
            let targetCurrency = selectedCurrency;

            if (targetCurrency != baseCurrency) {

                // Frankfurter API endpoint for historical exchange rates
                let apiUrl = "https://api.frankfurter.app/" + date + "?from=" + baseCurrency + "&to=" + targetCurrency;

                $.ajax({
                    url: apiUrl,
                    type: "GET",
                    success: function (response) {

                        let exchangeRate = response.rates[targetCurrency];
                        let price = (totalPrice * exchangeRate).toFixed(2);

                        if (discountValue) {

                            $('#total-price-original').text(currencySigns[selectedCurrency] + ' ' + price);
                            $('#total-price').text(currencySigns[selectedCurrency] + ' ' + (price * discount));
                        }
                        else {
                            $('#total-price').text(currencySigns[selectedCurrency] + ' ' + price);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error: Unable to fetch exchange rates. Status: " + status + ", Error: " + error);
                    }
                });
            }
            else {
                calTotalPrice();
            }

        });
    });

</script>