@model VisitViewModel

@{
    double totalPrice = Model.RepairActivities.Sum(x => x.Price);
}

<div class="d-flex flex-column bg-light bg-opacity-50 shadow m-auto p-3">

    <div class="d-flex col mx-2 justify-content-between">
        <dv class="d-flex">
            for: @Model.VehicleBrand @Model.VehicleModel - @Model.UserName - @Model.Status
        </dv>
        <div class="d-flex">
            @Model.DateCreated.ToShortDateString()
        </div>
    </div>

    <div class="d-flex flex-column justify-content-start">
        <hr />
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row gap-4 text-end">
                <p class="ms-3">Total Cost</p>
            </div>
            <p>@totalPrice лв.</p>
        </div>
    </div>
</div>
