@model AdminManageEmployeesViewModel

@{
    ViewData["Title"] = "Home Page";
    var registerMessage = ViewData["PostRegisterMessage"];
    var adminName = "Admin";
}

<!-- admin nav bar -->
<partial name="_AdminNavBarPartial" model="@adminName" />

<div class="d-flex flex-column justify-content-start" style="width:100%; height:calc(100% - 120px);">

    <div class="d-flex flex-column justify-items-between justify-content-end bg-light py-2">

        <div class="d-flex container justify-content-between">

            <div class="d-flex flex-row align-items-center gap-3">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-secondary rounded-pill">
                    BACK
                </a>
                <p class="lead my-2">
                    MANAGE <b>EMPLOYEES</b>
                </p>
            </div>

            <div class="d-flex flex-row align-items-center gap-3">
                <a id="newButton" class="d-flex btn btn-primary rounded-pill align-items-center me-1">
                    <label class="mx-2">NEW</label>
                </a>
            </div>
        </div>
    </div>

    <div id="registerEmployeeForm" class="flex-column justify-content-start fade-in my-2" style="margin-top:100px;">
        <form asp-area="Admin" asp-controller="Home" asp-action="RegisterEmployee" method="post" style="width:30%;" class="d-flex flex-column m-auto justify-content-center">

            <input id="reg-error-input-1" asp-for="RegisterData.Email" name="RegisterData.Email" class="log-in-form-control" type="email" placeholder="Email" aria-label="Email">
            <span id="reg-error-span-1" asp-validation-for="RegisterData.Email" class="form-error" style="color: #7B0828"></span>

            <input id="reg-error-input-2" asp-for="RegisterData.FirstName" name="RegisterData.FirstName" class="log-in-form-control" type="text" placeholder="First Name" aria-label="First Name">
            <span id="reg-error-span-2" asp-validation-for="RegisterData.FirstName" class="form-error" style="color: #7B0828"></span>

            <input id="reg-error-input-3" asp-for="RegisterData.LastName" name="RegisterData.LastName" class="log-in-form-control" type="text" placeholder="Last Name" aria-label="Last Name">
            <span id="reg-error-span-3" asp-validation-for="RegisterData.LastName" class="form-error" style="color: #7B0828"></span>

            <input id="reg-error-input-4" asp-for="RegisterData.PhoneNumber" name="RegisterData.PhoneNumber" class="log-in-form-control" type="tel" placeholder="Phone Number" aria-label="Phone Number">
            <span id="reg-error-span-4" asp-validation-for="RegisterData.PhoneNumber" class="form-error" style="color: #7B0828"></span>

            @if (registerMessage != null)
            {
                <span id="reg-notify-message" class="d-flex align-items-start align-content-start" style="color:green; font-weight:bold">
                </span>
            }

            <div class="d-flex flex-row justify-content-end gap-3 mt-4">
                <a id="cancelButton" type="button" class="btn my-1 primary-button text-black btn-outline-light bg-secondary opacity-50 flex-shrink-1"
                   style="width: 8.0rem;">
                    Cancel
                </a>
                <button type="submit" class="btn my-1 primary-button text-black btn-outline-light opacity-75 flex-grow-1">
                    Register
                </button>
            </div>
        </form>
    </div>

    <div class="gap-2 bg-secondary bg-opacity-10 text-center" style="height:100%;">

        <div class="container" style="width:100%; height:100%;">
            @{
                if (Model.Employees == null || Model.Employees.Count == 0)
                {
                    <div class="d-flex container justify-content-center my-5">
                        <p class="lead my-2">
                            NO <b>EMPLOYEES</b> REGISTERED
                        </p>
                    </div>
                }
                else
                {
                    foreach (var employee in Model.Employees)
                    {
                        <div class="d-flex flex-row justify-content-between align-items-center rounded-3 flex-row bg-light m-1 p-2 px-4">
                            <div class="d-flex flex-column justify-content-between align-items-center rounded-3 flex-row bg-light m-1">
                                <h6>
                                    @employee.UserName
                                </h6>
                                <div>
                                    @employee.FirstName
                                </div>
                                <div>
                                    @employee.LastName
                                </div>
                                <div>
                                    @employee.PhoneNumber
                                </div>
                            </div>

                            <a asp-area="Admin" asp-controller="Home" asp-action="RemoveEmployee" asp-route-userName="@employee.UserName" class="btn btn-danger">
                                X
                            </a>
                        </div>
                    }
                }
            }
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {

        // Show employee register form
        $("#newButton").click(function () {
            $("#registerEmployeeForm").removeClass("d-none").addClass("show");

            $("#reg-error-input-1").attr("required", true);
            $("#reg-error-input-2").attr("required", true);
            $("#reg-error-input-3").attr("required", true);
            $("#reg-error-input-4").attr("required", true);

            $("#newButton").addClass("d-none");
        });

        // Hide employee register form
        $("#cancelButton").click(function () {

            $("#reg-error-input-1").removeAttr("required");
            $("#reg-error-input-2").removeAttr("required");
            $("#reg-error-input-3").removeAttr("required");
            $("#reg-error-input-4").removeAttr("required");

            console.log('click');

            $("#reg-notify-message").text("");

            $("#reg-error-input-1").val("");
            $("#reg-error-input-2").val("");
            $("#reg-error-input-3").val("");
            $("#reg-error-input-4").val("");

            $("#reg-error-span-1").text("");
            $("#reg-error-span-2").text("");
            $("#reg-error-span-3").text("");
            $("#reg-error-span-4").text("");

            clearForm();

            $("#newButton").removeClass("d-none");

            $("#registerEmployeeForm").removeClass("show").addClass("d-none");
        });

        var b = @Html.Raw(Json.Serialize(registerMessage));
        var s1 = document.getElementById("reg-error-span-1").innerText;
        var s2 = document.getElementById("reg-error-span-2").innerText;
        var s3 = document.getElementById("reg-error-span-3").innerText;
        var s4 = document.getElementById("reg-error-span-4").innerText;

        if ((b != null && b != "") || (s1 != null && s1 != "")
            || (s2 != null && s2 != "") || (s3 != null && s3 != "") || (s4 != null && s4 != "")) {
            $("#reg-notify-message").text(b);
            $("#registerEmployeeForm").removeClass("d-none").addClass("show");
            $("#newButton").click();
        }
        else {
            $("#registerEmployeeForm").addClass("d-none");
        }

    });
</script>