@model AdminManageEmployeesViewModel

@{
    ViewData["Title"] = "Home Page";
    var registerMessage = ViewData["PostRegisterMessage"];
    var adminName = "Admin";
}

<!-- admin nav bar -->
<partial name="_AdminNavBarPartial" model="@adminName" />

<div class="d-flex flex-column justify-content-start" style="width:100%; height:calc(100% - 120px);">

    <div class="d-flex flex-column justify-items-between justify-content-end bg-light py-2">

        <div class="d-flex container justify-content-between">

            <div class="d-flex flex-row align-items-center gap-3">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-secondary rounded-pill">
                    BACK
                </a>
                <p class="lead my-2">
                    MANAGE <b>EMPLOYEES</b>
                </p>
            </div>

            <div class="d-flex flex-row align-items-center gap-3">
                <a id="newButton" class="d-flex btn btn-primary rounded-pill align-items-center me-1">
                    <label class="mx-2">NEW</label>
                </a>
            </div>
        </div>
    </div>

    <div id="registerEmployeeForm" class="flex-column justify-content-start fade-in my-2" style="margin-top:100px;">
        <form asp-area="Admin" asp-controller="Home" asp-action="RegisterEmployee" method="post" style="width:30%;" class="d-flex flex-column m-auto justify-content-center">
            <span id="reg-error-span" asp-validation-for="RegisterData.Email" class="form-error" style="color: #7B0828"></span>
            <input id="reg-error-input" asp-for="RegisterData.Email" name="RegisterData.Email" class="log-in-form-control" type="email" placeholder="Email" aria-label="Email">

            @if (registerMessage != null)
            {
                <span id="reg-notify-message" class="d-flex align-items-start align-content-start" style="color:green; font-weight:bold">
                </span>
            }

            <div class="d-flex flex-row justify-content-end gap-3 mt-4">
                <a id="backButton" type="button" class="btn my-1 primary-button text-black btn-outline-light bg-secondary opacity-50 flex-shrink-1"
                   style="width: 8.0rem;">
                    Cancel
                </a>
                <button type="submit" class="btn my-1 primary-button text-black btn-outline-light opacity-75 flex-grow-1">
                    Register
                </button>
            </div>
        </form>
    </div>

    <div class="gap-2 bg-secondary bg-opacity-10 text-center" style="height:100%;">

        <div class="container" style="width:100%; height:100%;">
            @{
                if (Model.Employees == null || Model.Employees.Count == 0)
                {
                    <div class="d-flex container justify-content-center my-5">
                        <p class="lead my-2">
                            NO <b>EMPLOYEES</b> REGISTERED
                        </p>
                    </div>
                }
                else
                {
                    foreach (var employee in Model.Employees)
                    {
                        <div class="d-flex justify-content-between align-items-center rounded-3 flex-row bg-light my-2 p-4">
                            <h6>
                                @employee.UserName
                            </h6>
                            <div>
                                @employee.FirstName
                            </div>
                            <div>
                                @employee.LastName
                            </div>
                            <div>
                                @employee.PhoneNumber
                            </div>

                            <a asp-area="Admin" asp-controller="Home" asp-action="RemoveEmployee" asp-route-userName="@employee.UserName" class="btn btn-danger">
                                X
                            </a>

                        </div>
                    }
                }
            }
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {

        // Show employee register form
        $("#newButton").click(function () {
            $("#registerEmployeeForm").removeClass("d-none").addClass("show");

            $("#reg-error-input").attr("required", true);

            $("#newButton").addClass("d-none");
        });

        // Hide employee register form
        $("#backButton").click(function () {

            $("#registerEmployeeForm").removeClass("show").addClass("d-none");
            $("#reg-error-input").removeAttr("required");

            $("#reg-notify-message").text("");
            $("#reg-error-input").val("");
            $("#reg-error-span").text("");

            $("#newButton").removeClass("d-none");
        });

        var b = @Html.Raw(Json.Serialize(registerMessage));
        var s = document.getElementById("reg-error-span").innerText;

        if ((b != null && b != "") || (s != null && s != "")) {
            $("#reg-notify-message").text(b);
            $("#registerEmployeeForm").removeClass("d-none").addClass("show");
            $("#newButton").click();
        }
        else {
            $("#registerEmployeeForm").addClass("d-none");
        }

    });
</script>